* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.home {
  background: rgb(71, 19, 74);
  background: linear-gradient(
    0deg,
    rgba(71, 19, 74, 1) 0%,
    rgba(14, 12, 46, 1) 69%,
    rgba(0, 1, 37, 1) 100%
  );
  background-image: url('/images/starynightimage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  padding: 24px;
}

.navbar ul li {
  margin-bottom: 5px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(242, 94, 255);
}

.social-links {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  right: 0;
}

.social-links-icon {
  list-style: none;
  font-size: 20px;
  margin-bottom: 5px;
}

.social-links-icon a {
  color: #fff;
  text-decoration: none;
}

.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.tia-photo {
  height: 250px;
  width: 250px;
  object-fit: contain;
  border-radius: 50%;
  object-position: top;
  margin-bottom: 24px;
}

.home-content-title {
  margin-bottom: 8px;
  font-size: 32px;
}

.home-content-subtitle {
  margin-bottom: 16px;
  font-size: 24px;
}

.home-content-description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}
