.aboutme-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutme-content img {
  color: #fff;
  width: 100%;
  margin-top: 36px;
  border-radius: 16px;
  height: 250px;
}

.aboutme-content p {
  color: #fff;
  margin-top: 16px;
}

.aboutme-titles {
  color: #fff;
  font-size: 18px;
  margin-top: 8px;
}

.aboutme-titles span {
  color: var(--primary-pink);
}
