.experience-content {
  color: #fff;
  margin-top: 36px;
  text-align: left;
}

.experience-content h1 {
  margin-bottom: 8px;
  border-bottom: 1px solid var(--primary-pink);
  display: inline-block;
}

.experience-content span {
  color: var(--primary-pink);
}
